<div id="<%= dom_id song %>">
  <p>
    <strong>Playlist:</strong>
    <%= song.playlist_id %>
  </p>

  <p>
    <strong>Song name:</strong>
    <%= song.song_name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

</div>
