<table class="table">

  <thead class="montserrat-song song-table-head">
    <tr>
      <th scope="col">Song</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>

  <tbody class="song-table-body">
    <% @songs.each do |song| %>
      <tr>
        <td> <%= song.song_name %> </td>
        <td> <%= song.artist %> </td>
      </tr>
    <% end %>
  </tbody>

</table>