<h1><%= @playlist.playlist_name %> </h1>
<h3>Made by: </h3>


<%= @playlist.amount_of_listens %> <br>

<p>Interested? Check it out on <a href="<%= @playlist.playlist_link %>" target="_blank">Spotify</a>.</p>
<%= @playlist.playlist_link %>
